    /*! HTML5 Boilerplate v5.3.0 | MIT License | https://html5boilerplate.com/ */


/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */


/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}


/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}


/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}


/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}


/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}


/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}


/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}


/* ==========================================================================
   Author's custom styles
   ========================================================================== */

header {
    position: relative;
}

body {
    font-family: 'Source Sans Pro', sans-serif;
    overflow-x: hidden;
    font-size: 16px;
}

.wraper {
    width: 1170px;
    margin: 0 auto;
}

header #heroimage {
    background-image: url("../img/diwanee-cover.png");
    width: 100%;
    height: 940px;
    display: block;
}

.logo {
    float: left;
    position: relative;
    top: -22px;
    margin-left: 32px;
}

.mainmenu {
    float: right;
}

.headercontent h1 {
    font-size: 5rem;
    color: #333;
    letter-spacing: 1px;
    text-align: center;
    text-transform: uppercase;
    font-weight: 600;
}

.headercontent h1 span {
    display: inline-block;
}

.headercontent h1:after {
    content: "";
    display: block;
    margin: 35px auto 49px auto;
    width: 80px;
    height: 5px;
    background-color: #c31431;
    text-align: center;
}

.headercontent h2 {
    font-size: 1.875rem;
    color: #333;
    letter-spacing: 1px;
    line-height: 40px;
    text-align: center;
    font-weight: normal;
}

section #features {
    width: 100%;
}

.a {
    float: left;
    width: 33.3%;
    background-color: #fbfbfb;
    color: #ababab;
    font-size: 1rem;
    line-height: 24px;
    margin-bottom: 100px;
}

.b {
    float: left;
    width: 33.3%;
    background-color: #ededed;
    margin-bottom: 100px;
    color: #666666;
    font-size: 1rem;
    line-height: 24px;
}

.c {
    float: left;
    width: 33.3%;
    background-color: #fbfbfb;
    color: #ababab;
    font-size: 1rem;
    line-height: 24px;
    margin-bottom: 100px;
}

#features .icon img {
    display: block;
    margin: 55px auto 55px auto;
}

#features h2 {
    font-size: 1.5rem;
    color: #333333;
    letter-spacing: 4px;
    line-height: 30px;
    margin-bottom: 40px;
    text-align: center;
    font-weight: 600;
}

#features h2:after {
    content: "";
    position: relative;
    display: block;
    width: 41px;
    height: 2px;
    background-color: #cbcbcb;
    margin: 40px auto 44px auto;
}

#features p {
    font-size: 1rem;
    text-align: center;
    padding-bottom: 50px;
    padding-left: 58px;
    padding-right: 58px;
}

#poslovi h5 {
    margin-top: 50px;
    color: black;
    font-size: 14px;
    text-transform: uppercase;
    text-align: center;
    padding-bottom: 20px;
    letter-spacing: 2px;
    font-weight: 300;
}

#poslovi h2 {
    font-size: 3.75rem;
    color: #333;
    letter-spacing: 3px;
    line-height: 75px;
    text-align: center;
    text-transform: uppercase;
    font-weight: 600;
    margin-top: 0
}

#poslovi h2:after {
    content: "";
    display: block;
    margin: 47px auto 70px auto;
    width: 80px;
    height: 5px;
    background-color: #c31431;
    text-align: center;
}

#poslovi h3 {
    font-size: 2.25rem;
    color: #333333;
    line-height: 50px;
    text-align: center;
    margin-bottom: 50px;
    font-weight: 300;

}

#poslovi h4 {
    font-size: 1.75rem;
    color: #333333;
    letter-spacing: 2.33px;
    line-height: 36px;
    text-transform: uppercase;
    margin-bottom: 20px;
    font-weight: 600;
}

#poslovi p {
    font-size: 1.5rem;
    color: #888;
    line-height: 34px;
    text-align: left!important;
    display: inline-block;
    margin-bottom: 29px;
    font-weight: 300;
    margin-top: 0px;
}

.btn {
    float: right;
    border: 1px solid #979797;
    font-size: 1.125rem;
    background-color: transparent;
    letter-spacing: 2px;
    line-height: 23px;
    text-transform: uppercase;
    display: block;
    width: 250px;
    height: 50px;
}

.btntags {
    font-size: 1rem;
    color: #C41230;
    letter-spacing: 2px;
    display: inline-block;
    margin-right: 10px;
    background-color: transparent;
    border: 1px solid #979797;
    margin-bottom: 50px;
    font-weight: 300;
}

.dark {
    background-color: #333333;
    padding: 1px 0 0 0;
    margin-bottom: 30px;
}

.dark .btn {
    color: white;
}

.dark .btntags {
    color: white;
}

#poslovi .dark .wraper h4 {
    color: white;
    padding-top: 10px;
}

.btnmore {
    border: 1px solid #979797;
    font-size: 1.125rem;
    background-color: transparent;
    letter-spacing: 2px;
    line-height: 23px;
    text-transform: uppercase;
    display: block;
    width: 250px;
    height: 50px;
    margin: 70px auto;
}

#kontakt {
    margin-bottom: 150px;
    display: block;
}

#kontakt .colorcontact {
    background-color: #fbfbfb;
    padding: 50px 0;
}

#kontakt h5 {
    margin-top: 50px;
    color: black;
    font-size: 14px;
    text-transform: uppercase;
    text-align: center;
    padding-bottom: 30px;
    font-weight: 300;
    letter-spacing: 2px;
}



#kontakt h2 {
    font-size: 3.75rem;
    color: #333;
    letter-spacing: 3px;
    line-height: 75px;
    text-align: center;
    text-transform: uppercase;
    margin-top: 0;
}

#kontakt h2:after {
    content: "";
    display: block;
    margin: 54px auto 65px auto;
    width: 80px;
    height: 5px;
    background-color: #c31431;
    text-align: center;
}

#kontakt p {
    text-align: justify;
    font-size: 1.5rem;
    color: #888;
    line-height: 34px;
    display: inline-block;
    margin-bottom: 20px;
}

#kontakt .wraper img {
    margin: 0 auto;
    display: block;
}

div.container {
    margin: auto;
    width: 164px;
}

div.div1 {
    float: left;
    width: 80px;
}

div.div2 {
    float: left;
    width: 80px;
}

footer {
    padding: 100px 0 0 0;
    background-color: #2d2d2d;
    position: relative;
    display: block;
}

.footercontent {
    width: 33%;
    float: left;
}

.footercontent h2 {
    font-size: 1.125rem;
    color: #FFFFFF;
    letter-spacing: 2px;
    margin-bottom: 20px;
    display: inline-block;
    text-transform: uppercase;
    font-weight: 400;
}

.footercontent p {
    font-size: 1.125rem;
    color: #9B9B9B;
    line-height: 14px;
    padding-left: 110px;
    font-weight: 300;
}

.footercontent img {
    float: left;
    padding-right: 10px;
    padding-left: 100px;
    padding-top: 11px;
}

.copyright {
    background-color: #242424;
    margin-top: 100px;
}

.copyright p {
    ;
    font-size: 0.75rem;
    color:#9B9B9B;
    letter-spacing: 2px;
    line-height: 50px;
    letter-spacing: 2px;
    font-weight: 300;
}

.left {
    text-align: left;
    display: inline-block;
    text-transform: uppercase;
}

.right {
    text-align: right;
    display: inline-block;
    float: right;
}

.right span {
    font-size: 1.5rem;
}

.mobile-link {
    display: none;
}

.clrfx {
    clear: both;
}

@media screen and (max-width: 1024px) {
    .wraper {
        width: 100%;
    }
    .headercontent h1:after {
        display: none;
    }
    #features h2:after {
        content: "";
        position: relative;
        display: block;
        width: 41px;
        height: 2px;
        background-color: #cbcbcb;
        margin: 32px auto 30px auto;
    }
    #features .icon img {
        margin-top: 43px;
        margin-bottom: 33px;
    }
    #features p {
        font-size: 1rem;
        text-align: center;
        padding-bottom: 50px;
        padding-left: 25px;
        padding-right: 25px;
        line-height: 28px;
    }
    #poslovi h2:after {
        content: "";
        display: block;
        margin: 45px auto 56px auto;
        width: 80px;
        height: 5px;
        background-color: #c31431;
        text-align: center;
    }
    #poslovi h2 {
        font-size: 3.125rem;
        color: #333;
        letter-spacing: 3px;
        line-height: 24px;
        text-align: center;
        text-transform: uppercase;
        font-weight: 600;
    }
    #poslovi h4 {
        font-size: 1.25rem;
        color: #333333;
        letter-spacing: 2.33px;
        line-height: 24px;
        text-transform: uppercase;
        margin-bottom: 20px;
        font-weight: 600;
    }
    #poslovi h5 {
        margin-top: 50px;
        color: black;
        font-size: 14px;
        text-transform: uppercase;
        text-align: center;
        padding-bottom: 0px;
        font-weight: 300;
    }
    #poslovi h3 {
        font-size: 1.5rem;
        color: #333333;
        line-height: 34px;
        text-align: center;
        margin-bottom: 50px;
        font-weight: 300;
    }
    #poslovi p {
        font-size: 1.125rem;
        color: #888;
        line-height: 28px;
        text-align: left!important;
        display: inline-block;
        margin-bottom: 20px;
        font-weight: 300;
    }
    .colorresponsive,
    .dark {
        padding: 0 35px 0 35px;
    }
    .btn {
        float: right;
        border: 1px solid #979797;
        font-size: 1.125rem;
        background-color: transparent;
        letter-spacing: 2px;
        line-height: 23px;
        text-transform: uppercase;
        display: block;
        width: 165px;
        height: 45px;
    }
    #poslovi .dark .wraper h4 {
        color: white;
        padding-top: 35px;
    }
    .btnmore {
        border: 1px solid #979797;
        font-size: 1.125rem;
        background-color: transparent;
        letter-spacing: 2px;
        line-height: 23px;
        text-transform: uppercase;
        display: block;
        width: 224px;
        height: 50px;
        margin: 70px auto;
    }
    #kontakt {
        margin-bottom: 150px;
        display: block;
    }
    #kontakt h2 {
        font-size: 3.125rem;
        color: #333;
        letter-spacing: 3px;
        line-height: 68px;
        text-align: center;
        text-transform: uppercase;
    }
    #kontakt h2:after {
        content: "";
        display: block;
        margin: 53px auto 59px auto;
        width: 80px;
        height: 5px;
        background-color: #c31431;
        text-align: center;
    }
    #kontakt p {
        text-align: justify;
        font-size: 1.125rem;
        color: #888;
        line-height: 28px;
        display: inline-block;
        margin-bottom: 20px;
        padding-left: 25px;
        padding-right: 25px;
    }
    .footercontent h2 {
        font-size: 1rem;
        color: #FFFFFF;
        letter-spacing: 2px;
        margin-bottom: 10px;
        display: inline-block;
        text-transform: uppercase;
        font-weight: 400;
    }
    .footercontent p {
        font-size: 0.9375rem;
        color: #9B9B9B;
        line-height: 24px;
        padding-left: 25px;
        padding-right: 25px font-weight: 300;
    }
    .footercontent img {
        float: left;
        padding-right: 10px;
        padding-left: 25px;
    }
    .mobile-link {
        display: none;
    }
    @media only screen and (max-width: 320px) {
        .wraper {
            display: block;
            width: 320px;
            margin: 0 auto;
        }
        header {
            background-image: url("../img/diwaneemobile.jpg");
            height: 557px;
        }
        header #heroimage {
            background-image: none;
            background-size: cover;
        }
        .headercontent h1 {
            font-size: 3.75rem;
            line-height: 58px;
            padding-top: 99px;
            position: relative;
        }
        .headercontent h1:after {
            content: "";
            display: none;
        }
        .headercontent h2 {
            font-size: 1.25rem;
            position: relative;
            margin-top: 40px;
            text-transform: uppercase;
        }
        .headercontent h2 span {
            display: none;
        }
        #heroimage {
            background-image: no-repeat;
            background-size: cover;
            background-position: 45%;
            max-height: 300px;
        }
        .logo {
            margin-left: 15px;
            position: relative;
            bottom: 24px;
        }
        section #features {
            width: 100%;
            height: 600px;
        }
        .a {
            float: none;
            width: 100%;
            background-color: transparent;
            background-image: none;
        }
        .b {
            float: none;
            width: 100%;
            background-color: #ededed;
            margin-bottom: 0px;
        }
        .c {
            float: none;
            width: 100%;
            background-color: transparent;
            background-image: none;
        }
        #features .icon img {
            display: block;
            margin: 0 auto 0 auto;
            padding-top: 54px;
            width: 20%;
        }
        #features h2 {
            font-size: 1.25rem;
            color: #333333;
            letter-spacing: 4px;
            line-height: 24px;
            margin-bottom: 0px;
            text-align: center;
            margin-top: 22px;
        }
        #features h2:after {
            content: "";
            position: relative;
            display: block;
            width: 41px;
            height: 2px;
            background-color: #cbcbcb;
            margin: 22px auto 23px auto;
        }
        #features p {
            font-size: 1.125rem;
            line-height: 30px;
            text-align: center;
            padding-bottom: 20px;
        }
        #poslovi h5 {
            margin-top: 20px;
            color: black;
            font-size: 0.625rem;
            text-transform: uppercase;
            ;
            text-align: center;
            padding-bottom: 30px;
        }
        #poslovi h2 {
            font-size: 2.5rem;
            color: #333;
            letter-spacing: 3px;
            line-height: 25px;
            text-align: center;
            text-transform: uppercase;
            margin-top: 0px;
        }
        #poslovi h2:after {
            content: "";
            display: block;
            margin: 37px auto 42px auto;
            width: 80px;
            height: 5px;
            background-color: #c31431;
            text-align: center;
        }
        #poslovi h3 {
            font-size: 1.125rem;
            color: #333333;
            line-height: 24px;
            text-align: center;
            margin-bottom: 20px;
            padding-left: 15px;
            padding-right: 15px;
        }
        #poslovi h4 {
            font-size: 1.25rem;
            color: #333333;
            letter-spacing: 2.33px;
            line-height: 26px;
            text-transform: uppercase;
            margin-bottom: 0px;
            padding-top: 50px;
        }
        #poslovi p {
            font-size: 0.9375rem;
            color: #888;
            line-height: 20px;
            text-align: left!important;
            display: inline-block;
            margin-bottom: 23px;
            margin-top: 20px;
        }
        button.btn.reshide {
            display: none;
        }
        .btn {
            float: right;
            border: 1px solid #979797;
            font-size: 1.125rem;
            background-color: transparent;
            letter-spacing: 2px;
            line-height: 23px;
            text-transform: uppercase;
            display: block;
            width: 250px;
            height: 50px;
        }
        .btntags {
            font-size: 0.875rem;
            color: #C41230;
            letter-spacing: 2px;
            display: inline-block;
            margin-right: 10px;
            background-color: transparent;
            border: none;
            margin-bottom: 37px;
            text-transform: uppercase;
        }
        .dark {
            background-color: transparent;
            padding-left: 20px;
            padding-right: 30px;
            margin-bottom: 0px;
        }
        .colorresponsive {
            background-color: #f8f7f5;
            padding-left: 20px;
            padding-right: 30px;
        }
        .dark .btn {
            color: #333333;
        }
        .dark .btntags {
            color: #C41230;
            margin-bottom: 9px;
        }
        #poslovi .dark .wraper h4 {
            color: #333333;
            padding-top: 20px;
        }
        .btnmore {
            border: none;
            font-size: 1.125rem;
            background-color: #d7d7d7;
            letter-spacing: 2px;
            line-height: 23px;
            text-transform: uppercase;
            display: block;
            width: 250px;
            height: 50px;
            margin: 63px auto
        }
        #kontakt .colorcontact {
            background-color: #fbfbfb;
            padding: 50px 0;
        }
        #kontakt h5 {
            font-size: 20px;
            color: black;
            font-size: 0.875rem;
            text-transform: uppercase;
            text-align: center;
            padding-bottom: 30px;
        }
        #kontakt h2 {
            font-size: 2.5rem;
            color: #333;
            letter-spacing: 3px;
            line-height: 42px;
            text-align: center;
            text-transform: uppercase;
            padding: 0 25px;
        }
        #kontakt h2:after {
            content: "";
            display: block;
            margin: 47px auto 41px auto width: 80px;
            height: 5px;
            background-color: #c31431;
            text-align: center;
        }
        #kontakt p {
            text-align: left;
            font-size: 1.125rem;
            color: #888;
            line-height: 24px;
            display: inline-block;
            margin-bottom: 20px;
            margin-top: 0px;
            padding-left: 27px;
            padding-right: 25px;
        }
        footer {
            padding: 87px 0 0 0;
            background-color: #2d2d2d;
            position: relative;
            display: block;
        }
        .footercontent {
            width: 100%;
            float: none;
            margin: 0 auto;
            display: block;
        }
        .footercontent {
            margin-bottom: 54px;
        }
        .footercontent h2 {
            font-size: 0.75rem;
            color: #FFFFFF;
            letter-spacing: 2px;
            padding: 0 0;
            display: inline-block;
            text-transform: uppercase;
            text-align: center;
        }
        .footercontent p {
            font-size: 1rem;
            line-height: 24px;
            color: #9B9B9B;
            line-height: 18px;
            padding-left: 30px;
        }
        .footercontent img {
            float: none;
            padding-right: 10px;
            padding-left: 21px;
        }
        .copyright {
            background-color: #242424;
            margin-top: 100px;
        }
        .copyright p {
            font-size: 0.875rem;
            color: #5B5B5B;
            letter-spacing: 0;
            line-height: 50px;
        }
        .left {
            text-align: left;
            display: inline-block;
            text-transform: uppercase;
        }
        .right span {
            font-size: 1.5rem;
        }
        .copyright {
            background-color: #242424;
            margin-top: 20px;
            position: relative;
            margin: 0;
        }
        .copyright p {
            font-size: 0.75rem;
            color: #5B5B5B;
            letter-spacing: 2px;
            line-height: 28px;
            text-align: center;
            padding-bottom: 12px;
        }
        .left {
            text-align: left;
            display: block;
            text-transform: uppercase;
            padding-top: 22px
        }
        .right {
            text-align: center;
            display: none;
            float: none;
            color: #666666;
        }
        .mobile-link {
            display: block;
        }
        .right span {
            font-size: 0.875rem;
        }
        .clrfx {
            clear: both;
        }
        .fa-2x {
            font-size: 2em;
            padding-right: 29px;
            color: #9B9B9B;
        }
        .mobile-link a {
            color: #9B9B9B;
            text-decoration: none;
        }
    }
    /* ==========================================================================
   Helper classes
   ========================================================================== */
    /*
 * Hide visually and from screen readers
 */
    .hidden {
        display: none !important;
    }
    /*
 * Hide only visually, but have it available for screen readers:
 * http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 */
    .visuallyhidden {
        border: 0;
        clip: rect(0 0 0 0);
        height: 1px;
        margin: -1px;
        overflow: hidden;
        padding: 0;
        position: absolute;
        width: 1px;
    }
    /*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */
    .visuallyhidden.focusable:active,
    .visuallyhidden.focusable:focus {
        clip: auto;
        height: auto;
        margin: 0;
        overflow: visible;
        position: static;
        width: auto;
    }
    /*
 * Hide visually and from screen readers, but maintain layout
 */
    .invisible {
        visibility: hidden;
    }
    /*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */
    .clearfix:before,
    .clearfix:after {
        content: " ";
        /* 1 */
        display: table;
        /* 2 */
    }
    .clearfix:after {
        clear: both;
    }
    /* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */
    @media only screen and (min-width: 35em) {
        /* Style adjustments for viewports that meet the condition */
    }
    @media print,
    (-webkit-min-device-pixel-ratio: 1.25),
    (min-resolution: 1.25dppx),
    (min-resolution: 120dpi) {
        /* Style adjustments for high resolution devices */
    }
    /* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */
    @media print {
        *,
        *:before,
        *:after,
        *:first-letter,
        *:first-line {
            background: transparent !important;
            color: #000 !important;
            /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
            box-shadow: none !important;
            text-shadow: none !important;
        }
        a,
        a:visited {
            text-decoration: underline;
        }
        a[href]:after {
            content: " (" attr(href) ")";
        }
        abbr[title]:after {
            content: " (" attr(title) ")";
        }
        /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */
        a[href^="#"]:after,
        a[href^="javascript:"]:after {
            content: "";
        }
        pre,
        blockquote {
            border: 1px solid #999;
            page-break-inside: avoid;
        }
        /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */
        thead {
            display: table-header-group;
        }
        tr,
        img {
            page-break-inside: avoid;
        }
        img {
            max-width: 100% !important;
        }
        p,
        h2,
        h3 {
            orphans: 3;
            widows: 3;
        }
        h2,
        h3 {
            page-break-after: avoid;
        }
    }